<div class="animated bounceInDown">

  <div class="col-sm-6 col-sm-offset-3">

    <h1>Log In</h1>

      <form ng-submit="login.doLogin()">
        <div class="input-group margin-bottom-sm">
          <span class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span>
          <input class="form-control" type="text" placeholder="Email address" ng-model="login.loginData.email">
        </div><br>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
          <input class="form-control" type="password" placeholder="Password" ng-model="login.loginData.password">
        </div>
        <br>
        <button type="submit" class="btn btn-success btn-lg">Login</button>
      </form>

      <hr>

      <p>Don't have an account? <a ui-sref="register">Sign Up</a></p>
      <p>Return to the <a ui-sref="/">home</a> page.</p>
    </div>
</div>
