<div class="center-block animated zoomIn">
  <div class="jumbotron vertical-center">
    <div class="container">
      <h1>What would you like to do?</h1>
      <a ui-sref="new" class="btn btn-success btn-lg fa fa-edit fa-2x"> Found/Lost Device</a>
      <a ui-sref="cases" class="btn btn-success btn-lg fa fa-database fa-2x"> View Submitted Cases</a>
    </div>
  </div>
</div>
