<!doctype html>
<!-- adding the angular app to the page -->
<html>
<head>
  <title>Homeless Devices</title>

  <!-- jQuery library. this goes before bootstrap because bootstrap's js file requires jQuery -->
  <script src="/lib/jquery/dist/jquery.min.js"></script>

  <!-- bootstrap -->
  <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
  <script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>

  <!-- font awesome -->
  <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">

  <!-- animate.css -->
  <link rel="stylesheet" href="/lib/animate.css/animate.min.css">

  <!-- local stylesheet -->
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> -->
      <!-- commented out navbar collapse above. not needed for this app -->
      <a class="navbar-brand" href="/"><span class="fa fa-mobile-phone fa-lg">  Homeless Devices</span></a>
    </div>
    <!-- <div id="navbar" class="navbar-collapse collapse">
    <form class="navbar-form navbar-right" role="form">
    <div class="form-group">
    <input type="text" placeholder="Email" class="form-control">
  </div>
  <div class="form-group">
  <input type="password" placeholder="Password" class="form-control">
  </div>
  <button type="submit" class="btn btn-success">Sign in</button>
  </form>
  </div> -->
  <!--/.navbar-collapse commented out above -->
  </div>
</nav>
  <br>
  <br>
  <div class="center-block animated fadeIn">
    <div class="jumbotron vertical-center">
      <div class="container">
        <h1>Welcome!</h1>
        <a class="btn btn-success btn-lg align-btn fa fa-sign-in fa-lg" href="/login" role="button"> Login</a>
        <a class="btn btn-success btn-lg align-btn fa fa-angle-double-right fa-lg" href="/register" role="button"> Sign Up</a>
      </div>
    </div>
  </div>
  <div class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
      <p class="navbar-text pull-left fa fa-terminal on fa-square">  Built by Kyle Knott</p>
      <a class="btn-success btn pull-right" href="https://github.com/ktk10191/project4-homeless-devices"><span class="fa fa-github-alt">  Follow this poject</span></a>
    </div>
  </div>
</body>
</html>
