<!doctype html>
<!-- adding the angular app to the page -->
<html>
<head>
  <title>Homeless Devices</title>

  <!-- jQuery library. this goes before bootstrap because bootstrap's js file requires jQuery -->
  <script src="/lib/jquery/dist/jquery.min.js"></script>

  <!-- bootstrap -->
  <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
  <script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>

  <!-- pure -->
  <link rel="stylesheet" href="/lib/pure/pure-min.css">

  <!-- Animate.css -->
  <link rel="stylesheet" href="/lib/animate.css/animate.min.css">

  <!-- font awesome -->
  <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">

  <!-- Angularjs -->
  <script src="/lib/angular/angular.js"></script>

  <!-- angular ui router
  <script src="/lib/angular/angular-ui-router.min.js"></script> -->



  <!-- local angular app file -->
  <script src="../js/app.js"></script>

  <!-- angular-bootstrap -->
  <script type="text/javascript" src="/lib/angular-bootstrap/ui-bootstrap.min.js"></script>

  <!-- angular controllers and services -->
  <script src="../js/controllers/mainController.js"></script>
  <script src="../js/services/caseService.js"></script>
  <script src="../js/services/config.js"></script>

  <!-- local stylesheet -->
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-app="homeless">
  <div class="container" ng-controller="mainController">
    {{test}}
    <!-- injecting views with ng-view -->
    <!-- each angular controller can apply a different class -->
    <div class="{{animationClass}}">
      <div class="jumbotron text-center">
        <h1><span class="fa fa-lock">Homeless Devices</span></h1>
        <p>Login or register:</p>
        <a href="login" class="pure-button"><span class="fa fa-user">Local Login</span></a>
        <a href="signUp" class="pure-button"><span class="fa fa-user">Local Signup</span></a>
      </div>
    </div>
  </div>
  <div ui-view></div>
</body>
</html>
