<!DOCTYPE html>
<html>
  <head>
    <title>Node/React</title>
    <link rel="stylesheet" href="react-mdl/extra/material.min.css">
    <script src="react-mdl/extra/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body>
    <div id="app"><%- content %></div>
    <script src="bundle.js"></script>
  </body>
</html>
