<!doctype html>
<html>
<head>
  <title>Registration</title>
  <!-- jQuery library. this goes before bootstrap because bootstrap's js file requires jQuery -->
  <script src="/lib/jquery/dist/jquery.min.js"></script>

  <!-- bootstrap -->
  <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
  <script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>

  <!-- font awesome -->
  <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">

  <!-- animate.css -->
  <link rel="stylesheet" href="/lib/animate.css/animate.min.css">

  <!-- local stylesheet -->
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> -->
      <!-- commented out navbar collapse above. not needed for this app -->
      <a class="navbar-brand" href="/"><span class="fa fa-mobile-phone fa-lg">  Homeless Devices</span><small> (Like Find my iPhone, but better)</small></a>
    </div>
    <!-- <div id="navbar" class="navbar-collapse collapse">
    <form class="navbar-form navbar-right" role="form">
    <div class="form-group">
    <input type="text" placeholder="Email" class="form-control">
  </div>
  <div class="form-group">
  <input type="password" placeholder="Password" class="form-control">
</div>
<button type="submit" class="btn btn-success">Sign in</button>
</form>
</div> -->
<!--/.navbar-collapse commented out above -->
    </div>
  </nav>
  <br>
  <br>
<div class="animated bounceInDown">

  <div class="col-sm-6 col-sm-offset-3">

    <h1>Sign Up</h1>

    <!-- show any messages that come back with authentication -->
     <% if (message.length > 0) { %>
      <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <form action="/register" method="post">
      <div class="input-group margin-bottom-sm">
        <span class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span>
        <input class="form-control" type="text" placeholder="Email address" name="email">
      </div><br>
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
        <input class="form-control" type="password" placeholder="Password" name="password">
      </div>
      <br>
      <button type="submit" class="btn btn-success btn-lg">Sign Up</button>
    </form>

    <hr>

    <p>Already have an account? <a href="/login">Login</a></p>
    <p>Return to the <a href="/index">home</a> page.</p>
  </div>
</div>
<div class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container">
    <p class="navbar-text pull-left fa fa-terminal on fa-square">  Built by Kyle Knott</p>
    <a class="btn-success btn pull-right" href="https://github.com/ktk10191/project4-homeless-devices"><span class="fa fa-github-alt">  Follow this poject</span></a>
  </div>
</div>
</body>
</html>
