// Material design lite
@import (css) "~react-mdl/extra/material.min.css";

// App variables
@import "./variables";

.main {
  font-family: 'Roboto', sans-serif;

  div {
    margin: 0 auto;
    width: 600px;
  }
}

.sideNav {
  background-color: black;
}

.navBar {
  background-color: #18ffff;

  .mdl-layout-title {
    color: black;
  }
}
